<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
    <main class="main-about">
        <section class="about-content">
            <article class="content-cv">
                <p>
                    Desarrollador Full-Stack JavaScript, cursado en Digital House y Misión Tic 2021. Con
                    competencias en lenguajes como, JavaScript, Python, Java, HTML y CSS. Gestión de
                    repositorios con Git y Github. Creación y consumo de APIS mediante tecnologías como
                    NodeJs, Express y React. Y bases de datos SQL (Mysql, sequelize) y NoSQL (MongoDb).
                    Desde las cuales desarrollo soluciones digitales perdurables y escalables. Con experiencia
                    en grupos de investigación de desarrollo de tecnologías y creación de páginas web con el
                    stack MERN, bajo metodologías SCRUM diferenciando el trabajo por el esfuerzo de mejorar
                    y la curiosidad de aprender e implementar tecnologías nuevas.
                </p>
            </article>
            <article></article>
        </section>
        <h1 class="about-background">about</h1>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>