<!DOCTYPE html>
<html lang='en'>
<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
    <main class="main-home">
        <section class="home-myself">
            <article class="myself-description">
                <div class="description-perfil">
                    <div class="perfil-titles">
                        <h3 class="titles-greeting">Hello</h3>
                        <h1 class="titles-im">I´m David Naranjo</h1>
                        <h2 class="titles-job">Full stack Developer</h2>
                    </div>
                    <div class="perfil-text">
                        <p class="text-cv">Desarrollador Full-Stack JavaScript, cursado en Digital House y Misión Tic 2021. JavaScript,
                            Python, Java, HTML y CSS. Gestión de repositorios con Git y Github...</p>
                    </div>
                    <div class="perfil-more">
                        <a class="more-about" href="/about">About me</a>
                        <a class="more-contact" href="/contact">Contact</a>
                    </div>
                </div>
            </article>
            <article class="myself-animation">

            </article>
        </section>
        <section class="home-title">
            <h1 class="title-name">Home</h1>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>