<!DOCTYPE html>
<html lang='en'>
<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
    <main class="main-home">
        <section class="home-myself">
            <article class="myself-description">
                <div class="description-perfil">
                    <div class="perfil-titles">
                        <h3 class="titles-greeting">Hello</h3>
                        <h1 class="titles-im">I´m David Naranjo</h1>
                        <h2 class="titles-job">Full stack Developer</h2>
                    </div>
                    <div class="perfil-text">
                        <p class="text-cv">Desarrollador Full-Stack JavaScript, cursado en Digital House y Misión Tic 2021. JavaScript,
                            Python, Java, HTML y CSS. Gestión de repositorios con Git y Github...</p>
                    </div>
                    <div class="perfil-more">
                        <div class="more-btn more-about">
                            <a class="btn-about" href="/about">About me</a>
                        </div>
                        <div class="more-btn more-contact">
                            <a class="btn-contact" href="/contact">Contact</a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="myself-animation">
                <div class="animation-icons">
                    <div class="icons-code" active="false">
                        <div class="icons-home code-skills">iconos Code</div>
                    </div>
                    <div class="icons-desing" active="false">
                        <div class="icons-home desing-skills">Iconos Desing</div>
                    </div>
                </div>
                <div class="animation-titles">
                    <h2 class="titles-code">Code</h2>
                    <p class="titles-separator">|</p>
                    <h2 class="titles-desing">Desing</h2>
                </div>
            </article>
        </section>
        <section class="home-title">
            <h1 class="title-name">Home</h1>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>