<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main class="main-pages">
        <section class="pages-cart">
            <article class="cart-info">
                <div class="info-image">
                    <div class="image-content">
                        <p class="image-description">
                            Desarrollador Full-Stack JavaScript, 
                            cursado en Digital House y Misión Tic 2021. JavaScript, 
                            Python, Java, HTML y CSS. Gestión de repositorios con Git y Github.
                        </p>
                        <a class="image-redirect" href="https://www.makata.tv/" target="_blank">
                            <img class="redirect-image" src="/images/general/placeholderImage.png" alt="image-cart"/>
                        </a>
                    </div>
                    <div class="info-change">
                        <button class="info-left">
                            <img class="left-image" src="/images/general/arrow.svg" alt="arrow-left"/>
                        </button>
                        <div class="info-page">
                            <h2 class="page-title">Makata</h2>
                            <h3 class="page-about">preview</h3>
                        </div>
                        <button class="info-right">
                            <img src="/images/general/arrow.svg" alt="arrow-right"/>
                        </button>
                    </div>
                </div>
            </article>
        </section>
        <section class="about-title">
            <h1 class="title-pages">pages</h1>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>