<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main class="main-pages">
        <section class="pages-cart">
            <article class="description-image">
                <p class="cart-description">
                    Desarrollador Full-Stack JavaScript, 
                    cursado en Digital House y Misión Tic 2021. JavaScript, 
                    Python, Java, HTML y CSS. Gestión de repositorios con Git y Github.
                </p>
                <img class="image-page" alt="image-page"/>
            </article>
            <article class="cart-info">
                <button class="info-left">
                    <img class="left-image" src="/images/general/arrow.svg" alt="arrow-left"/>
                </button>
                <div class="info-page">
                    <h2 class="page-title">Makata</h2>
                    <h3 class="page-about">preview</h3>
                </div>
                <button class="info-right">
                    <img src="/images/general/arrow.svg" alt="arrow-right"/>
                </button>
            </article>
        </section>
        <section class="about-title">
            <h1 class="title-pages">pages</h1>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>