<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>
    <main class="main-pages">
      <%- include('partials/socialLinks.ejs') %>
      <section class="pages-cart swiper">
        <article class="cart-info-pages swiper-wrapper">
          <div class="swiper-slide">
            <img class="image-pages" src="/images/general/placeholderImage.png" alt="page" />
          </div>
          <div class="swiper-slide">
            <img class="image-pages" src="/images/general/placeholderImage.png" alt="page" />
          </div>
          <div class="swiper-slide">
            <img class="image-pages" src="/images/general/placeholderImage.png" alt="page" />
          </div>
        </article>
      </section>
      <section class="cart-change-pages ">
        <button class="change-left swiper-button-prev">
          <img
            class="change-image"
            src="/images/general/arrow.svg"
            alt="arrow-left"
          />
        </button>
        <div class="change-page">
          <h2 class="page-title">Makata</h2>
          <h3 class="page-about">preview</h3>
        </div>
        <button class="change-right swiper-button-next">
          <img src="/images/general/arrow.svg" alt="arrow-right" />
        </button>
      </section>
      <section class="about-title">
        <h1 class="title-pages">pages</h1>
      </section>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
