.nav-main{
    display: flex;
    height: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 28px 50px 0px 50px;
}

.nav-namura a{
    font-family: var(--fugaz-one-regular);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration:none;
    text-transform: uppercase
}

.nav-redirects{
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
}

.nav-redirects a{
    font-family: var(--fugaz-one-regular);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration:none;
    text-transform: uppercase
}

.header-namura{
    background: rgba(0, 0, 0, 0) ;
}