.main-home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home-myself {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70%
}

.home-social {
    position: absolute;
    left: 2.6%;
    display: flex;
    height: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .1s ease-in-out;
    opacity: 1;
    z-index: 1;
}

.social-links img {
    width: 70%;
    z-index: 1;
}

.myself-description {
    position: relative;
    left: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.myself-animation {
    display: flex;
    width: 54%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.animation-titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 22%;
}

.animation-titles > *{
    margin-top: 0
}

.animation-icons {
    position: relative;
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons-code,
.icons-desing {
    position: absolute;
    opacity: 0;
    width: 60%;
    height: 90%;
    display: flex;
    transition: all .2s ease-in-out;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    pointer-events: none;
}

.show-icons {
    opacity: 1 !important;
    pointer-events: all !important;
}

.selected {
    font-weight: 700 !important;
    color: var(--blueColor) !important;
}

.animation-titles .titles-code,
.titles-desing,
.titles-separator {
    font-family: 'Smooch Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 110%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
}

.animation-titles .titles-code,
.titles-desing {
    cursor: pointer;
}

.description-perfil {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
}

.titles-greeting {
    margin: 0;
    margin-bottom: 8px;
    font-family: var(--fontFugaz);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .98);
}

.titles-im {
    margin: 0;
    margin-bottom: 8px;
    font-family: var(--fontFugaz);
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 110%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .98);
}

.titles-job {
    margin: 0;
    margin-bottom: 30px;
    font-family: var(--fontFugaz);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .98);
}

.perfil-text {
    margin-bottom: 40px;
}

.text-cv {
    font-family: 'Smooch Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.9);
}

.perfil-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 310px;
}

.more-btn {
    position: relative;
}

.more-btn:hover::after {
    content: "";
    position: absolute;
    left: 11.5%;
    top: 18px;
    width: 80%;
    height: 80%;
    filter: blur(6px);
    border-radius: 5%;
    background: var(--blueColor);
    z-index: -2;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.more-btn:hover::before {
    content: "";
    position: absolute;
    left: 20%;
    top: 14px;
    width: 64%;
    height: 50%;
    filter: blur(4px);
    background: #ffffff;
    z-index: -1;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.more-btn .btn-about,
.btn-contact {
    padding: 4px 32px;
    font-family: var(--fontFugaz);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, .98);
    transition: all .05s ease-in-out;
}

.btn-about {
    background: var(--blueColor);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(23px);
    -webkit-backdrop-filter: blur(23px);
    border-radius: 5px;
}

.btn-contact {
    background: rgb(82 82 82);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 5px;
}

.btn-about:hover,
.btn-contact:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-about:active,
.btn-contact:active {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.home-title {
    position: absolute;
    top: 0%;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.title-name {
    max-width: 620px;
    margin: 0;
    text-transform: uppercase;
    font-family: var(--fontFugaz);
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 181px;
    text-align: center;
    letter-spacing: 0.755em;
    user-select: none;
    color: rgba(255, 255, 255, 0.05);
}

/* Animations */
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}