@font-face {
    font-family: fugaz-one-regular;
    src: url("../fonts/FugazOne-Regular.ttf");
}

@font-face {
    font-family: smooch-sans-medium;
    src: url("../fonts/SmoochSans-Medium.ttf");
}

body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(278.34deg, #000000 28.83%, #FFFFFF 253.62%);
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 100vh;
}

:root{
    --fugaz-one-regular: "fugaz-one-regular";
    --smooch-sans-medium: "smooch-sans-medium";
}

.home-main{
    width: 100vw;
    margin: auto;
}

.home-icons{
    display: flex;
    flex-direction: column;
    filter: grayscale(1);
}

.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title h1{
    font-family: var(--fugaz-one-regular);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #ffffff;
}

.home-description{
    width: 46%;
    margin: 0px 75px;
}

.home-description p{
    color: #ffffff;
    font-family: var(--smooch-sans-medium);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
}

.home-location{
    margin: 10px 0px;
    font-family: var(--fugaz-one-regular);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #ffffff;
}