.main-pages{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: hidden;
}

.pages-cart{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 76%;
    width: 100%;
}

.cart-info-pages{
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cart-change-pages{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 22%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.change-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.change-page h2, h3{
    margin: 0;
}

.change-page h2 {
    font-family: var(--fontFugaz);
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.change-page h3 {
    font-family: 'Smooch Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
}

.change-left{
    background-color: transparent;
    border-color: transparent;
    transform: rotate(180deg);
    cursor: pointer;
}

.change-right{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.change-left img, .change-right img{
    width: 60%;
}

.info-content-pages{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    transition: transform .2s ease-in-out;
}

.info-content-active{
    position: relative !important;
    opacity: 1 !important;
}

.image-redirect{
    width: 84%;
    height: 400px;
    opacity: 0.8;
}

.redirect-image{
    width: 100%;
    height: 100%;
}

.content-description-pages{
    position: absolute;
    top: -15%;
    left: -20%;
    width: 94%;
    font-family: 'Smooch Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.9);
}

.about-title{
    position: absolute;
    top: 0px;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.title-pages{
    max-width: 744px;
    margin: 0;
    text-transform: uppercase;
    font-family: var(--fontFugaz);
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 181px;
    text-align: center;
    letter-spacing: 0.755em;
    user-select: none;
    color: rgba(255, 255, 255, 0.05);
}