<footer class="main-footer">
    <section class="footer-copyright">
        <article  class="copyright-creator">
            <p class="creator-text creator-name">
                @Namura 2022.
            </p>
            <p class="creator-text creator-rights">
                All Rights Reserved.
            </p>
            <p class="creator-text creator-development">
                Web Development By David Naranjo.
            </p>
        </article>
    </section>
</footer>