<footer class="main-footer">
    <section class="footer-copyright">
        <article  class="copyright-social">
            <a class="social-github social-footer" href="https://github.com/NamuraCode" target="_blank"><img src="images/images_social/github.png" alt="social-github"></a>
            <a class="social-artstation social-footer" href="https://www.artstation.com/david_naranjo" target="_blank"><img src="images/images_social/artstation.png" alt="social-artstation"></a>
            <a class="social-instagram social-footer" href="https://www.instagram.com/david_naranjo_999/" target="_blank"><img src="images/images_social/instagram.png" alt="social-instagram"></a>
            <a class="social-email social-footer" href="mailto:naranjo.david.1999@gmail.com" target="_blank"><img src="images/images_social/email.png" alt="social-email"></a>
            <a class="social-whatsapp social-footer" href="https://api.whatsapp.com/send?phone=3006109815" target="_blank"><img src="images/images_social/whatsapp.png" alt="social-whatsapp"></a>
        </article>
        <article  class="copyright-creator">
            <p class="creator-text creator-name">
                @Namura 2022.
            </p>
            <p class="creator-text creator-rights">
                All Rights Reserved.
            </p>
            <p class="creator-text creator-development">
                Web Development By David Naranjo.
            </p>
        </article>
    </section>
</footer>