<footer class="footer-main">
    <section class="footer-section">
        <!-- <article class="footer-language">
            <form action="/language" method="get">
                <input type="submit" value="ENG">
                <input type="submit" value="SPA">
            </form>
        </article> -->
        <article  class="footer-copyright">
            <p class="footer-text footer-namura">
                @Namura 2022
            </p>
            <p class="footer-text footer-rights">
                All Rights Reserved
            </p>
            <p class="footer-text footer-Development">
                Web Development By David Naranjo
            </p>
        </article>
        <article class="footer-contact">
            <p class="footer-text contact">
                contact
            </p>
        </article>
    </section>

</footer>