<header class="header-namura">
    <nav class="nav-main">
        <div class="nav-namura">
            <a href="/">Namura</a>
        </div>
        <ul class="nav-redirects">
            <a href="/pages"><li>Pages</li></a>
            <a href="/models"><li>Models</li></a>
            <a href="/digital"><li>Digital</li></a>
            <a href="/about"><li>About</li></a>
        </ul>
    </nav>
</header>