<link rel="stylesheet" href="/css/haeder.css">
<header class="header-namura">
    <nav>
        <div>
            <a href="#">Namura</a>
        </div>
        <ul>
            <a href="#"><li>Pages</li></a>
            <a href="#"><li>Models</li></a>
            <a href="#"><li>Digital</li></a>
            <a href="#"><li>About</li></a>
        </ul>
    </nav>
</header>