<header class="main-header">
    <nav class="header-nav">
        <div class="nav-name">
            <a href="/">Naranjo</a>
        </div>
        <ul class="nav-redirects">
            <li><a href="/pages">Pages</a></li>
            <li><a href="/models">Models</a></li>
            <li><a href="/digital">Digital</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>