<header class="main-header">
    <nav class="header-nav">
        <div class="nav-name">
            <a href="/">ME</a>
        </div>
        <section class="nav-redirects">
            <ul class="redirects-pagues redirects-lists">
                <li><a href="/pages">Pages</a></li>
                <li><a href="/models">Models</a></li>
                <li><a href="/digital">Digital</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <ul class="redirect-contact redirects-lists">
                <li><a href="/contact">Contact</a></li>
            </ul>
        </section>
    </nav>
</header>