<section  class="home-social">
    <a class="social-links social-github" href="https://github.com/NamuraCode" target="_blank"><img src="images/images_social/github.png" alt="social-github"></a>
    <a class="social-links social-artstation" href="https://www.artstation.com/david_naranjo" target="_blank"><img src="images/images_social/artstation.png" alt="social-artstation"></a>
    <a class="social-links social-instagram" href="https://www.instagram.com/david_naranjo_999/" target="_blank"><img src="images/images_social/instagram.png" alt="social-instagram"></a>
    <a class="social-links social-email" href="mailto:naranjo.david.1999@gmail.com" target="_blank"><img src="images/images_social/email.png" alt="social-email"></a>
    <a class="social-links social-whatsapp" href="https://api.whatsapp.com/send?phone=3006109815" target="_blank"><img src="images/images_social/whatsapp.png" alt="social-whatsapp"></a>
</section>